.form-group
  = f.label :name, t('monuments.form.name')
  = f.text_field :name, class: 'form-control'
.form-group
  = f.label :description, t('monuments.form.description')
  = f.text_area :description, class: 'form-control'
